* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Segoe UI', Arial, sans-serif;
}

#sidebar {
    background-color: #1e1e2d;
    width: 240px;
    min-height: 100vh;
}

#sidebar a {
    color: white;
    text-decoration: none;
}

#sidebar ul {
    font-size: 16px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 16px;
}

#sidebar h2 {
    color: white;
    text-align: center;
    padding: 12px 0 48px 0;
}

main {
    flex: 1;
    padding: 32px;
}

.breadcrumb {
    padding-bottom: 24px;
}
.breadcrumb a {
    text-decoration: none;
}

.header-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-topo button {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #2563eb;
    background-color: #2563eb;
    color: white;
    border-radius: 4px;
}

.header-topo button:hover {
    background: #0039bb;
    border: 1px solid #0039bb;
}