.layout {
    display: flex;
    padding-left: 18px;
}

.header {
    display: flex;
    height: 36px;
    align-items: center;
}

.header h1 {
    margin-top: 20px;
    font-size: 20px;
}

.header p {
    font-size: 14px;
    color: gray;
}

.content {
    width: 100%;
    display: flex;
    color: black;
    flex-direction: column;
}

