/*
CSS GLOBAL, É IMPORTADO EM TODAS AS PAGES JSX
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Sans Serif Collection;
}

body {
    min-height: 100vh;
    width: 100vw;
    background: #ffffff;
}